<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %> 
    <title>Profile</title>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4"><%= %> </h1>
            <p class="lead display-4"><%= user.fullName %> </p>
            <hr class="my-4">
            <p><%= user.email %> </p>
            <a href="/auth/update/<%= user.id %> " class="btn btn-outline-primary">Edit Profile</a>
            
            <% if (session.role !== 'admin') { %>
                <a href="/auth/delete/<%= user.id %> " class="btn btn-outline-danger">Delete Profile</a>   
            <% } %>
            
        </div>
        <hr><hr>
        <div class="w-75 text-white">
            <% user.posts.forEach(post => { %>
             <div class="jumbotron bg-dark">
                 <h1 class="display-4"><%= post.title %> </h1>
                 <p class="lead"> </p>
                 <hr class="my-4">
                 <p><%= post.content %></p>
             </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/_footer.ejs') %> 
</body>
</html>
